body {
    margin: 0px;
    text-align: center;
    font-family: "Merriweather",serif;
}
a {
    color: #126e82;
    font-family: "Merriweather",serif;
}
h1 {
    color: #126e82;
    width: 40%;
    margin: 0 auto 0 auto;
    font-family: "Sacramento",cursive;
    font-size: 5em;
    line-height: 1.5;
}
h2 {
    color: #126e82;
    width: 30%;
    margin: 20px auto 30px auto;
    font-size: 150%;
    font-weight: normal;
}
h3 {
    color: #126e82;
}
p {
    line-height: 2;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: dotted 7px;
    color: #EAF6F6;
    border-bottom: none;
    width: 10%;
}
/*************************Class***************************/
.Contact {
    background-color: #66BFBF;
    padding-top: 1em;
    padding-bottom: 1em;
}
.home {
    background-color: #ceeeee;
    padding-top: 120px;
    position: relative;
}
.hello {
    font-size: 200%;
}
.t-photo {
    position: absolute;
    top: 35px;
    left: 85px;
    width: 100px;
}
.second-photo {
    margin: 60px auto 0 auto;
    width: 150px;
}
.idea {
    width: 80px;
}
.question {
    width: 80px;
}


/******************************ID's*******************************/
#mountain {
    margin-top: 30px;
}
#t-cloud {
    width: 200px;
    position: absolute;
    left: 15%;
    top: 150px;
}
#b-cloud {
    width: 150px;
    position: absolute;
    right: 15%;
    top: 80px;
}
#o-p {
    margin: auto;
    width: 500px;
}
/****************************Button****************************/
.btn {
    background: #126e82;
    background-image: -webkit-linear-gradient(top, #126e82, #47eded);
    background-image: -moz-linear-gradient(top, #126e82, #47eded);
    background-image: -ms-linear-gradient(top, #126e82, #47eded);
    background-image: -o-linear-gradient(top, #126e82, #47eded);
    background-image: linear-gradient(to bottom, #126e82, #47eded);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #6ff2e3;
    background-image: -webkit-linear-gradient(top, #6ff2e3, #55b8fa);
    background-image: -moz-linear-gradient(top, #6ff2e3, #55b8fa);
    background-image: -ms-linear-gradient(top, #6ff2e3, #55b8fa);
    background-image: -o-linear-gradient(top, #6ff2e3, #55b8fa);
    background-image: linear-gradient(to bottom, #6ff2e3, #55b8fa);
    text-decoration: none;
  }
  /*************************Mobile View**************************/
  @media screen and (max-width: 600px) {
    #mountain {
        margin-top: 20px;
        width: 100%;
    }
    #o-p {
        width: 360px;
        margin: auto;
        margin-block: 0;
    }
    #t-cloud {
        width: 90px;
        position: absolute;
        left: 5%;
        top: 300px;
    }
    #b-cloud {
        width: 70px;
        position: absolute;
        right: 15%;
        top: 100px;
    }
    .t-photo {
        position: absolute;
        top: 35px;
        left: 10px;
        width: 70px;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 120%;
    }
    .home {
        padding-bottom: 50px;
    }
    .Contact {
        display: block;
    }


  }
  /* ************************** Tablet View ************************* */
 @media screen and (min-width: 766px) { 
        #mountain {
            width: 100%;
        }
        #t-cloud {
            position: absolute;
            left: 110px;
            top: 210px;
        }
        #b-cloud {
            position: absolute;
            right: 110px;
            top: 100px;
        }
        .t-photo {
            position: absolute;
            top: 40px;
            left: 40px;
        }
  }